

.cacheListbox
  background-color: #fff
  border: inset 2px silver
  border-radius: 5px
  cursor: pointer
  display: inline-block
  font-size: 0.9em
  height: 40em
  // left: -40px
  margin: 2em 0 0 0
  overflow: auto
  padding: 2px 0 0 5px
  // position: relative
  text-align: left
  width: 12em
  span
    border-radius: 5px
    display: inline-block
    padding: 4px
    white-space: nowrap
    &:hover
      background-color: LimeGreen
      color: white 
    &.selected
      background-color: #eeb5f0
    
